extends layout

block content
  h1 Drag balls and drop them to other devices
  h2 User tag: 
    span#userID

  a(href='/mirror') Mirror mode

  .drag.ball1
    p.id 1
  .drag.ball2
    p.id 2
  .drag.ball3
    p.id 3
  .drag.ball4
    p.id 4
  #drop-area

  - var host = 'http://' + settings.ip + ':' + settings.port;
  script(type='text/javascript', src='http://code.jquery.com/jquery-1.9.0.min.js')
  script(type='text/javascript', src=host + '/javascripts/hammer.js')
  script(type='text/javascript', src=host + '/javascripts/hammer.fakemultitouch.js')
  script(type='text/javascript', src=host + '/javascripts/hammer.showtouches.js')
  script(type='text/javascript', src=host + '/socket.io/socket.io.js')
  script(type='text/javascript', src=host + '/javascripts/shareMode.js')